.main-container {
    background-image: url('./background.jpg') !important;
    background-size: cover;
}
.layout-classic-header .layout-classic-header-container,
.arco-layout-sider,
.arco-layout-sider-light,
.arco-menu-light,
.tags,
.layout-banner-header
{
    background: none;
}
.tags, 
.layout-banner-header {
    border: 0;
}
.logo span,
.arco-breadcrumb div,
.arco-breadcrumb-item:last-child
.layout-banner-header .banner-menus li.active,
.layout-banner-header .banner-menus li
{
    color: var(--color-white);
    fill: var(--color-white);
}
.layout-banner-header .banner-menus li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.layout-banner-header .banner-menus li.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.operation-area .arco-btn-secondary, .arco-btn-secondary[type='button'] {
    background-color:rgba(0, 0, 0, 0.2);
    color: #fff;
}
.operation-area .arco-btn-secondary:hover,
.operation-area .arco-btn-secondary[type='button']:hover {
    background-color:rgba(0, 0, 0, 0.5);
    color: #fff;
}

.arco-menu-light .arco-menu-item {
    background-color:rgba(0, 0, 0, 0);
    color: #fff;
    fill: #fff;
}
.ma-menu .icon
{
    fill: #fff;
}
.arco-menu-light .arco-menu-item:hover {
    background-color:rgba(0, 0, 0, 0.2);
    color: #fff;
}
.arco-menu-light .arco-menu-item .arco-icon,
.arco-menu-light .arco-menu-item .arco-icon:hover
{
    color: #fff;
}

.work-area {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px; margin:0 5px 5px 5px;
}